pip3 install pyttsx3
pip3 install SpeechRecognition
pip3 install pipwin
pipwin install pyaudio
python -m pip3 install --upgrade pip3 wheel setuptools virtualenv
python -m virtualenv kivy_venv
kivy_venv\Scripts\activate
python -m pip install docutils pygments pypiwin32 kivy_deps.sdl2==0.1.22 kivy_deps.glew==0.1.12
python -m pip install kivy_deps.gstreamer==0.1.17
python -m pip install kivy==1.11.1